{% extends 'website/base.html' %}
{% load static %}
{% block title %}About - Udego{% endblock %}
{% block content %}
<div class="container my-3">
    <div class="row">
        <div class="col-md-6 col-sm-12 mx-auto text-center">
            <div class="card card-body my-3">
                <h1 class="text-info">About Us</h1>
                <p>Hello, my name is Sandip Sadhukhan.I created this platform called "Udego" to help people with their academics, coding skills for free of cost.If u want to contact me or write article for us please mail: sandip.sendme@gmail.com</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}